.body__details {
  background-color: var(--cream);
}

.heights__div {
  height: 80px;
}

.post__container-2 {
  margin: auto;
  width: 60%;
}

.h1__details {
  font-weight: var(--bold-900);
  font-size: 3.5rem;
  text-align: center;
  height: 120px;
}

.details__div p {
  width: 100%;
  margin: auto;
  margin-top: 2%;
}

.details__div a {
  color: var(--black);
}

.loader_2 {
  margin: auto;
  width: 40%;
}

.wp-image {
  height: 500px;
  width: auto;
}
