/* FOOTER HOME */

footer {
  background-color: var(--purple);
  width: 100%;
  height: 300px;
  display: flex;
  align-items: right;
  justify-content: center;
  flex-direction: column;
}

.footer__container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  height: 220px;
  margin: auto;
}

.links1,
.links2 {
  font-size: 1.1rem;
  display: flex;
  justify-content: space-evenly;
  margin-top: 6%;
  font-weight: var(--bold);
}

.links1 li,
.links2 li {
  height: 50px;
}

.links1 a,
.links2 a {
  color: var(--black);
  text-decoration: none;
}

.links1 a:hover,
.links2 a:hover {
  border-bottom: 4px solid var(--black);
}

.p__copyright {
  text-align: right;
  font-size: 0.95rem;
  width: 98%;
  height: 40px;
}
