.logo__div {
  height: 100px;
}

.logo {
  position: fixed;
  top: 15px;
  left: 35px;
  text-decoration: none;
  color: var(--black);
}

.logo__div a {
  text-decoration: none;
}

.header__img {
  position: relative;
}

.header__home {
  height: 900px;
}

.purple__circle {
  position: absolute;
  right: 180px;
  height: 720px;
}

nav {
  box-shadow: var(--shadow);
}

.header__text-container {
  position: relative;
}

.h1-name__text {
  position: absolute;
  top: 330px;
  left: 300px;
  font-weight: var(--bold-900);
  font-size: 5.8rem;
}

.name__text-presentation {
  position: absolute;
  top: 610px;
  left: 300px;
  font-size: 1.6rem;
}

.open,
.close {
  cursor: pointer;
}

.ul__elements {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--cream);
  position: fixed;
  top: 0;
  width: 100%;
  right: 0;
  left: 0;
  z-index: 1;
  display: none;
  margin: 0;
}

.burger__open {
  height: 55px;
}

.burger__closing {
  height: 30px;
}

.open {
  position: fixed;
  top: 10px;
  right: 30px;
}

.close {
  position: absolute;
  top: 40px;
  right: 30px;
}

.ul__elements li a {
  color: var(--black);
  font-weight: var(--bold);
  text-decoration: none;
  font-size: 1.3rem;
}

.ul__elements li a:hover,
#active {
  border-bottom: 5px solid var(--purple);
}
