.section-1__div {
  background-color: var(--beige);
  height: 950px;
  display: flex;
}

.body__text-home {
  text-align: center;
  justify-self: center;
  align-self: center;
  width: 65%;
  margin: auto;
}

.section-2__container {
  margin-top: 6%;
}

.section-2__div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 55%;
  height: auto;
}

.section-2__text1,
.section-2__text2,
.section-2__text3 {
  font-size: 1.4rem;
  margin-top: 6%;
  line-height: var(--line-height_bodytext);
}

.height {
  height: 60px;
}

.section-3__img {
  display: flex;
}

.illustration__img {
  margin: auto;
  height: 640px;
}

.icons__div1,
.icons__div2 {
  display: flex;
  justify-content: space-between;
  width: 52%;
  margin: auto;
  margin-bottom: 8%;
}

.icons__div2 {
  margin-top: 4%;
}

.h3__home {
  font-size: 2rem;
  height: 150px;
  text-align: center;
  width: 60%;
  margin-top: 6%;
}
