.section-1__div {
  background-color: var(--beige);
  height: 950px;
  display: flex;
}

.body__text-home {
  text-align: center;
  justify-self: center;
  align-self: center;
  width: 65%;
  margin: auto;
}

.section-2__container {
  margin-top: 6%;
}

.section-2__div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  width: 55%;
  height: auto;
}

.section-2__text1,
.section-2__text2,
.section-2__text3,
.section-2__text4 {
  font-size: 1.4rem;
  margin-top: 6%;
  line-height: var(--line-height_bodytext);
}

.height {
  height: 60px;
}

.section-3__img {
  display: flex;
}

.illustration__img {
  margin: auto;
  height: 620px;
}

.h3__div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 43%;
  margin: auto;
  height: 500px;
  margin-bottom: 2%;
}

.h3__home {
  font-size: 1.9rem;
  height: 120px;
  text-align: center;
  width: 64%;
  margin-top: 6%;
}

.p__icon {
  font-size: 1.2rem;
  margin-top: 14%;
  text-align: center;
  font-weight: var(--bold);
}

/* .badge {
  height: 130px;
} */
