@media (min-width: 1650px) {
  .details__div {
    text-align: center;
  }
}

@media (min-width: 1800px) {
  .h3__div {
    height: 240px;
    width: 60%;
    margin-top: 2%;
  }

  .h3__home {
    text-align: center;
    width: 48%;
    font-size: 2.4rem;
    margin-top: 6%;
  }

  .purple__circle {
    height: 850px;
  }

  .header__home {
    width: 80%;
    margin: auto;
    height: 960px;
  }

  .h1-name__text {
    top: 264px;
    left: 440px;
    font-size: 7rem;
  }

  .name__text-presentation {
    left: 440px;
  }

  .body__text-home {
    font-size: 3.5rem;
  }

  .loader__div,
  .loader_2 {
    width: 20%;
  }
}

/* TABLET/LAPTOP */
@media (max-width: 1024px) {
  /* HEADER AND HERO */

  .illustration__img {
    height: 476px;
  }

  .icons__div1,
  .icons__div2 {
    width: 60%;
  }

  .purple__circle {
    right: 50px;
  }

  .close {
    top: 35px;
  }

  /* HOMEPAGE */

  .body__text-home {
    font-size: 2.4rem;
    width: 55%;
  }

  .h3__home {
    width: 26%;
    height: 100px;
  }

  .h3__div {
    width: 90%;
  }

  /* CONTACT */

  .h1__contact {
    width: 60%;
    font-size: 4.7rem;
  }

  .height__contact2 {
    height: 100px;
  }

  .p__contact-form {
    width: 50%;
  }

  /* PROJECTS */

  .h1__post__cards {
    width: 80%;
  }

  .post__container {
    width: 70%;
  }

  .loader__div {
    width: 60%;
  }

  /* DETAILS */

  .wp-image {
    height: 320px;
    width: auto;
  }

  .details__div p {
    width: 100%;
  }

  .post__container-2 {
    width: 50%;
  }

  .loader_2 {
    width: 60%;
  }
}

@media (max-width: 768px) {
  /* DETAILS */

  .wp-image {
    height: 260px;
    width: auto;
  }

  .details__div p {
    width: 100%;
  }

  .post__container-2 {
    width: 60%;
  }

  /* PROJECTS */

  .loader__div {
    width: 70%;
  }

  /* HOME */

  .h3__home {
    width: 60%;
    height: 100px;
    margin-top: 10%;
  }

  .h3__div {
    width: 60%;
    height: 420px;
  }
}

/* TABLET */
@media (max-width: 991px) {
  /* HEADER AND HERO */

  .logo,
  .open {
    position: absolute;
  }

  .h1-name__text {
    left: 200px;
    font-size: 4.8rem;
  }

  .name__text-presentation {
    left: 200px;
    top: 565px;
  }

  .footer__container {
    width: 65%;
  }

  .p__copyright {
    text-align: center;
  }

  /* HOME */

  .body__text-home {
    width: 80%;
  }

  .section-2__div {
    width: 70%;
  }

  /* CONTACT */
  .h1__contact {
    width: 90%;
  }

  /* PROJECTS */

  .post__container,
  .h1__post__cards {
    width: 90%;
  }

  /* DETAILS */
  .loader_2,
  .loader__div {
    width: 80%;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  /* HEADER */
  .logo {
    left: 20px;
    top: 0px;
  }

  .burger__open {
    height: 45px;
  }

  .burger__closing {
    height: 25px;
  }

  /* HOME */
  .h1-name__text {
    font-size: 3.4rem;
  }

  .name__text-presentation {
    top: 500px;
    font-size: 1.3rem;
  }

  .purple__circle {
    right: 0;
  }

  .illustration__img {
    height: 300px;
  }

  .height {
    height: 20px;
  }

  .section-1__div {
    height: auto;
  }

  .h1-name__text,
  .name__text-presentation {
    left: 120px;
  }

  .h2__homepage {
    font-size: 2rem;
    margin-top: 10%;
  }

  .body__text-home {
    font-size: 1.6rem;
    width: 80%;
    line-height: 60px;
    padding: 40px;
  }

  .section-2__text {
    font-size: 1.2rem;
  }

  .h3__home {
    font-size: 1.6rem;
    width: 58%;
  }

  .h3__div {
    width: 60%;
  }

  /* CONTACT */

  .h1__contact {
    font-size: 2.7rem;
    width: 100%;
  }

  .p__contact {
    font-size: 1rem;
  }

  .email__btn {
    width: 22rem;
    font-size: 1.1rem;
  }

  .height__contact {
    height: 60px;
  }

  .p__contact-form {
    width: 80%;
  }

  #name,
  #email,
  #subject,
  #message {
    width: 20rem;
  }

  /* PROJECTS */

  .h1__post__cards {
    font-size: 2.7rem;
    width: 80%;
  }

  .h1__details {
    font-size: 2.7rem;
  }

  .loader__div,
  .loader_2 {
    display: none;
  }

  .links1,
  .links2 {
    font-size: 1rem;
  }
}

@media (max-width: 540px) {
  /* PROJECTS */

  .post__container {
    height: 1900px;
  }

  .h1__post__cards {
    line-height: 80px;
  }

  .heights {
    height: 130px;
  }

  /* HOME */

  .h3__home {
    width: 42%;
  }

  .h3__div {
    width: 85%;
  }

  /* HEADER */

  .close {
    top: 22;
  }

  .burger__open {
    height: 45px;
  }

  .burger__closing {
    height: 24px;
  }

  .logo {
    top: 2px;
  }

  /* DETAILS */

  .wp-image {
    height: 220px;
    width: auto;
  }

  .post__container-2 {
    width: 70%;
  }
}

@media (max-width: 425px) {
  /* HEADER */

  .open {
    right: 15px;
  }

  .burger__closing {
    height: 20px;
  }

  .close {
    top: 25px;
    right: 10px;
  }

  .ul__elements li a {
    font-size: 1.1rem;
  }

  /* HOME */

  .h1-name__text,
  .name__text-presentation {
    left: 30px;
  }

  .section-1__div {
    height: 760px;
  }

  .h3__home {
    width: 70%;
    margin-top: 20%;
  }

  .h3__div {
    width: 60%;
    height: 750px;
  }

  /* FOOTER */

  .footer__container {
    width: 100%;
  }

  /* PROJECTS */

  .post__container {
    height: 1700px;
  }

  .h2__post__cards {
    font-size: 2rem;
  }

  /* DETAILS */

  .h1__details {
    height: 90px;
  }

  .post__container-2 {
    width: 85%;
  }

  .wp-image {
    height: 200px;
    width: auto;
  }
}

@media (max-width: 411px) {
  /* PROJECTS */

  .heights {
    height: 120px;
  }

  .h1__post__cards {
    width: 90%;
    line-height: 90px;
  }

  /* CONTACT */

  .h1__contact {
    width: 90%;
  }

  .p__contact-form {
    margin-bottom: 8%;
  }
}

@media (max-width: 414px) {
  /* PROJECTS */
  .heights {
    height: 120px;
  }

  .h1__post__cards {
    line-height: 90px;
    width: 90%;
  }

  /* CONTACT */

  .h1__contact {
    width: 90%;
  }
}

@media (max-width: 375px) {
  /* HEADER */

  .logo {
    top: 0px;
  }

  .ul__elements li a {
    font-size: 1.1rem;
  }

  .burger__closing {
    height: 20px;
  }

  .close {
    top: 25px;
    right: 10px;
  }

  /* HOME */

  .section-1__div {
    height: auto;
  }

  /* PROJECTS */

  .post__container {
    height: 2000px;
  }

  .h1__post__cards {
    font-size: 3rem;
    width: 80%;
    line-height: 90px;
  }

  .heights {
    height: 100px;
  }

  /* DETAILS */
  .wp-image {
    height: 180px;
    width: auto;
  }
}

@media (max-width: 320px) {
  /* HEADER */
  .logo {
    left: 10px;
    top: 4px;
    font-size: 1.5rem;
  }

  .burger__closing {
    height: 18px;
  }

  .burger__open {
    height: 40px;
  }

  .open {
    top: 10px;
    right: 10px;
  }

  /* HOME */
  .h1-name__text {
    font-size: 3rem;
  }

  .name__text-presentation {
    width: 80%;
    top: 481px;
  }

  .illustration__img {
    height: 200px;
  }

  .section-2__div {
    margin-top: 10%;
  }

  .h3__div {
    width: 75%;
  }

  /* CONTACT */

  .h1__contact {
    font-size: 2.2rem;
  }

  .email__btn {
    width: 19.5rem;
    font-size: 1rem;
  }

  .p__contact {
    font-size: 0.9rem;
  }

  #name,
  #email,
  #subject,
  #message {
    width: 16rem;
  }

  .p__contact-form {
    font-size: 1.1rem;
    width: 80%;
  }

  /* PROJECTS */

  .heights {
    height: 60px;
  }

  .post__container {
    height: 2200px;
  }

  .h1__post__cards {
    font-size: 2.5rem;
    width: 70%;
    line-height: 80px;
  }

  .post__cards__text {
    margin-bottom: 20%;
  }

  /* DETAILS */
  .wp-image {
    height: 150px;
    width: auto;
  }
}

@media (max-width: 280px) {
  /* HEADER */

  .ul__elements li a {
    font-size: 1rem;
  }

  .logo {
    font-size: 1.6rem;
  }

  /* HOME */

  .illustration__img {
    height: 180px;
  }

  .h1-name__text {
    font-size: 2.4rem;
  }

  .name__text-presentation {
    top: 470px;
  }

  .h3__home {
    width: 100%;
    margin-top: 30%;
  }

  .h3__div {
    width: 30%;
    height: 1250px;
  }

  .badge {
    height: 80px;
  }

  /* CONTACT */

  .email__btn {
    width: 17rem;
    font-size: 0.85rem;
  }

  #name,
  #email,
  #subject,
  #message {
    width: 14rem;
  }

  /* PROJECTS */

  .h1__post__cards {
    width: 80%;
  }

  .post__container {
    height: 2350px;
  }

  /* DETAILS */

  .wp-image {
    height: 140px;
    width: auto;
  }

  .post__container-2 {
    width: 85%;
  }
}
