/* @media (min-width: 1500px) {
  body {
    width: 1500px;
    margin: auto;
  }
} */

/* DESKTOP */
@media (max-width: 1200px) {
}

/* TABLET/LAPTOP */
@media (max-width: 1024px) {
  /* HEADER AND HERO */

  .illustration__img {
    height: 476px;
  }

  .icons__div1,
  .icons__div2 {
    width: 60%;
  }

  .purple__circle {
    right: 50px;
  }

  .close {
    top: 35px;
  }

  /* HOMEPAGE */

  .body__text-home {
    font-size: 2.4rem;
    width: 55%;
  }

  /* CONTACT */

  .h1__contact {
    width: 60%;
    font-size: 4.7rem;
  }

  .height__contact2 {
    height: 100px;
  }

  .p__contact-form {
    width: 50%;
  }
}

/* TABLET */
@media (max-width: 991px) {
  /* HEADER AND HERO */

  .logo,
  .open {
    position: absolute;
  }

  .h1-name__text {
    left: 200px;
    font-size: 4.8rem;
  }

  .name__text-presentation {
    left: 200px;
  }

  .footer__container {
    width: 65%;
  }

  .p__copyright {
    text-align: center;
  }

  /* HOME */

  .body__text-home {
    width: 80%;
  }

  .section-2__div {
    width: 70%;
  }

  /* CONTACT */
  .h1__contact {
    width: 90%;
  }
}

/* MOBILE */
@media (max-width: 767px) {
  /* HOME */
  .h1-name__text {
    font-size: 3.4rem;
  }

  .name__text-presentation {
    top: 530px;
    font-size: 1.3rem;
  }

  .purple__circle {
    right: 0;
  }

  .illustration__img {
    height: 230px;
  }

  .section-1__div {
    height: auto;
  }

  .h1-name__text,
  .name__text-presentation {
    left: 120px;
  }

  .body__text-home {
    font-size: 1.6rem;
    width: 80%;
    line-height: 70px;
  }

  /* CONTACT */

  .h1__contact {
    font-size: 2.7rem;
    width: 100%;
  }

  .email__div {
    width: 18rem;
  }

  .p__contact {
    font-size: 1rem;
  }

  .height__contact {
    height: 60px;
  }

  .p__contact-form {
    width: 80%;
  }

  #name,
  #email,
  #subject,
  #message {
    width: 20rem;
  }
}

@media (max-width: 425px) {
  /* HEADER */

  .logo {
    top: 10px;
  }
  /* HOME */

  .h1-name__text,
  .name__text-presentation {
    left: 30px;
  }

  .section-1__div {
    height: 760px;
  }

  /* FOOTER */

  .footer__container {
    width: 100%;
  }
}

@media (max-width: 375px) {
  /* HOME */

  .section-1__div {
    height: auto;
  }
}

@media (max-width: 320px) {
  /* HEADER */
  .logo {
    left: 10px;
  }

  /* HOME */
  .h1-name__text {
    font-size: 3rem;
  }

  .name__text-presentation {
    width: 50%;
  }

  .illustration__img {
    height: 200px;
  }

  .section-2__div {
    margin-top: 10%;
  }

  /* CONTACT */

  .h1__contact {
    font-size: 2.2rem;
  }

  .email__div {
    width: 16rem;
  }

  .p__contact {
    font-size: 0.9rem;
  }

  #name,
  #email,
  #subject,
  #message {
    width: 16rem;
  }

  .p__contact-form {
    font-size: 1.1rem;
    width: 80%;
  }
}

@media (max-width: 280px) {
  /* HEADER */

  .logo {
    font-size: 1.6rem;
  }
  /* HOME */
  .illustration__img {
    height: 180px;
  }

  .h1-name__text {
    font-size: 2.4rem;
  }

  .name__text-presentation {
    top: 470px;
  }
}
