/* COlOURS */

:root {
  --white: #ffffff;
  --black: #000000;
  --purple: #d2c3d6;
  --beige: #e7dbcf;
  --cream: #f3eee8;
  --yellow: #f3e6bd;
  --border: 1px solid rgba(134, 134, 134, 0.3);
  --shadow: 1px 1px 2px 1px rgb(0, 0, 0, 0.1);
}

/* FONTS */

:root {
  --bold: 700;
  --bold-900: 900;
  --line-height: 1.6rem;
  --line-height_bodytext: 35px;
}

/* DESIGN ELM */

:root {
  --radius: 25px;
  --height: 60px;
}
